.x-mask .x-mask-inner {
	background: #03111A;
	border-radius: 5px;
    border: 0.15em solid #1985d0;
}

.x-mask .x-mask-message {
	color: #ABCAE0;
}

.x-mask.x-has-message .x-loading-spinner-outer {
    height: 80px;
}

/*nascondo scroll bar per tutte le viste*/
.x-scroll-indicator {
    opacity: 0 !important;
}

.etichetta_bottone {
	margin-top: 5.5em;
}
